<div class="container" style="height: auto">
  <header class="row">
    <nav class="navbar navbar-inverse">
<!--      <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
<!--                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->

<!--          </button>-->
          <a class="navbar-brand" routerLink="/home"><span class="glyphicon glyphicon-home"></span> Trang chủ</a>
<!--        </div>-->
<!--      </div>-->
    </nav>
  </header>
<!--  <nav class="navbar navbar-inverse">-->

<!--  </nav>-->
  <div class="row">
    <article class="col-sm-9">
      <router-outlet></router-outlet>
    </article>
    <aside class="col-sm-3">


    </aside>
  </div>
  <footer class="panel panel-default">
    <div class="panel-heading text-center">
      <p>CodeGym &copy; 2019</p>
    </div>
  </footer>
</div>
<!--<a routerLink="/home">Home page</a>-->
